<%# Overriden from ArcLight core to modify Bootstrap classes on buttons and links %>
<div class="al-show-actions-box-downloads-container">
  <% case files.size %>
  <% when 2 %>
    <div class="dropdown">
      <button class="btn btn-outline-secondary btn-sm dropdown-toggle me-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= t("arclight.views.show.download.default") %>
      </button>
      <ul class="dropdown-menu">
        <% files.each do |file| %>
          <li><%= link_to(file.href, class: "dropdown-item d-flex align-items-center", **@link_options) do %>
            <%= icon_for(file.type) %><span class="ms-1"><%= dropdown_label(file) %></span>
          <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% when 1 %>
    <% files.each do |file| %>
      <%= link_to(file.href, class: "btn btn-outline-secondary btn-sm me-1", **@link_options) do %>
        <%= download_icon %> <%= label(file) %>
      <% end %>
    <% end %>
  <% end %>
</div>
