<%# Override Arclight's embed_component template to render the local version of OembedViewerComponent %>
<div id="embed" class="mb-4">
  <h2 class="al-show-sub-heading"><%= t('arclight.views.show.embedded_content') %></h2>
  <%= render OembedViewerComponent.with_collection(embeddable_resources, document: @document) %>

  <% if resources.any? %>
    <%= tag.div(class: 'card digital-object-list mt-3 mb-2', data: { controller: 'online-content' }) do %>
      <div class="card-body d-flex align-items-center">
        <ul>
          <% resources.each do |resource| %>
            <li class="al-digital-object" data-online-content-target="link" data-href-value="<%= resource.href %>">
              <%= link_to(resource.label, resource.href) %>
              <span class="ps-1"><%= render Arclight::OnlineStatusIndicatorComponent.new(document: @document)  %></span>
              <span class="ps-1"><%= helpers.blacklight_icon('external_link') %></span>
            </li>
          <% end %>
          </ul>
      </div>
    <% end %>
  <% end %>
</div>
