<p class="text-secondary mt-2 mb-0">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
<%= helpers.recaptcha_v3(action:) %>
<script type="text/javascript">
  document.forms.<%= form_id %>.addEventListener('submit', async function(e) {
    e.preventDefault();
    const response = await window.<%= execute_recaptcha_method_name %>();
    if (response) {
      <%= set_input_method_name %>('<%= data_attribute %>', response);
    }
    this.submit();
  });
</script>
