<div id="using-these-materials" class="w-100">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center justify-content-between mb-3">
        <h2 class="al-show-sub-heading fs-6 mb-0"><%= t("using_these_materials.heading") %></h2>
        <%= image_tag 'https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2026-01-27/styles/icon.png', alt: '', height: '42', width: '42', class: 'ms-2' %>
      </div>
      <ul>
        <li>
          <%= link_to t("using_these_materials.info_for_visitors"), repository_url, target: "_blank" %>
        </li>
        <li>
          <%= link_to t("using_these_materials.how_to_request"),
              "https://library.stanford.edu/access-rare-and-distinctive-materials", target: "_blank" %>
        </li>
        <li>
          <%= link_to t("using_these_materials.access_and_use"), "#access-and-use" %>
        </li>
      </ul>
      <% if restrictions.present? %>
        <h3 class="fs-6">Restrictions</h3>
        <p><%= restrictions %></p>
      <% end %>
    </div>
  </div>
</div>
