<div id="header-navbar" class="navbar navbar-expand-md navbar-dark bg-cardinal-red topbar">
  <div class="container justify-content-center justify-content-md-between">
    <h1>
      <%= link_to t('arclight.masthead_heading'), root_path, class: 'font-weight-light py-3 mr-0' %>
    </h1>

    <div class="topnav-links">
      <ul class="navbar-nav flex-row" aria-label="browse" role="navigation">
        <%= render 'shared/main_menu_links' %>
        <%= render_nav_actions do |_config, action|%>
          <li class="nav-item ml-3 <%= 'active' if controller_name == 'bookmarks' %>">
            <%= action %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
