<%# The upstream template currently provides two submit buttons, one for Bootstrap 4 and one for 5. The unused button is
    only visually hidden, creating an accessibility issue. This template removes the BS4 button. If blacklight_range_limit
    drops support for BS4 we can likely remove this override. %>
<%= form_tag search_action_path, method: :get, class: [@classes[:form], "range_#{@facet_field.key} d-flex justify-content-center"].join(' ') do %>
  <%= render hidden_search_state %>

  <div class="input-group input-group-sm mb-3 flex-nowrap range-limit-input-group">
    <%= render_range_input(:begin, begin_label) %>
    <%= render_range_input(:end, end_label) %>
    <%= submit_tag t('blacklight.range_limit.submit_limit'), class: @classes[:submit], name: nil %>
  </div>
<% end %>
