<div id="landing-page-search" class="pb-3">
  <div class="container mx-auto">
    <div class="row">
      <div class="col-sm-12 col-xxl-6 col-xl-7 col-lg-8 pt-lg-5 pe-lg-5">
        <div class="d-flex">
          <h1 class="pe-3 mb-0"><%= t '.title' %></h1>
        </div>
        <div class="d-flex">
          <p class="collection-count mt-2"><%= t('.collection_count', collection_count: number_with_delimiter(@collection_count)) %></p>
        </div>
        <div class="mt-2">
          <%= render(LandingPageSearchBarComponent.new(
            url: search_action_url,
            params: search_state.params_for_search.except(:qt),
            search_field: 'keyword',
            autocomplete_path: suggest_index_catalog_path)) %>
        </div>
      </div>
      <div class="col-sm-12 col-xxl-6 col-xl-5 col-lg-4 featured-teasers ps-4">
        <%= render 'landing_page/featured_item_teasers' %>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto">
  <div class="landing-page-access my-5">
    <div class="row">
      <h2><%= t('landing_page.access_heading')%></h2>
      <% t('landing_page.access_cards').each do |entry|%>
        <%= render LandingPage::AccessCardComponent.new(key: entry.first) %>
      <% end %>
    </div>
  </div>

  <div class="landing-page-info my-5">
    <div class="row">
      <% t('landing_page.info_cards').each do |entry|%>
        <%= render LandingPage::InfoCardComponent.new(key: entry.first) %>
      <% end %>
    </div>
  </div>


  <div class="row my-5 card-group">
    <div class="pt-4">
      <%= render 'shared/content_warning' %>
    </div>
  </div>
</div>
