<!-- This file copies the equivalent file in Blacklight and adds Google Analytics in :head -->
<% content_for(:head) do %>
  <%= render 'shared/analytics' %>
  <meta name="turbo-prefetch" content="false">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2026-01-27/styles/sul.css">
  <%= stylesheet_link_tag 'componentLibraryOverrides' %>
  <link rel="icon" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2026-01-27/styles/icon.png" type="image/png">
  <link rel="icon" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2026-01-27/styles/icon.svg" type="image/svg+xml">
<% end %>

<% content_for(:content) do %>
  <section class="<%= show_content_classes %>">
    <%= yield %>
  </section>

  <section class="<%= show_sidebar_classes %>">
    <%= content_for(:sidebar) %>
  </section>
<% end %>

<%= render template: "layouts/blacklight/base" %>
