<%# This file overrides AL Core for more control over the extents display
    and to add the digital content icon %>
<header class="documentHeader row" data-document-id="<%= @document.id %>">
  <h3 class="index_title document-title-heading col">
    <span class="d-inline-block me-2 mb-2"><%= helpers.link_to_document @document, counter: @counter %></span>

    <%= render CollectionUnitidPillComponent.new(document: @document) %>

    <%= tag.span class: 'al-document-container text-muted' do %>
      <%= @document.containers.join(', ') %>
    <% end if @document.containers.present? %>

    <%= render ExtentPillComponent.new(document: @document, compact: compact?) %>
  </h3>

  <%# these are set in the catalog_controller by add_results_document_tool %>
  <% actions.each do |action| %>
    <%= action %>
  <% end %>
</header>
