<%= render(Blacklight::SearchBarComponent.new(
      **@kwargs,
      params: @params.merge(f: (@params[:f] || {}).except(:collection), group: true),
                            q: @q,
                            search_field: @search_field,
                            form_options: { data: { controller: "search-form" } })) do |c| %>

  <% c.with_prepend do %>
    <label class="visually-hidden" for="within_collection">
      <%= t('arclight.within_collection_dropdown.label_html') %>
    </label>
    <%= select_tag ('f[collection][]' if collection_name.present?), within_collection_options, id: 'within_collection', class: 'form-select search-field' %>
    <%= prepend %>
  <% end %>

  <% c.with_append do %>
    <%= append %>
  <% end if append? %>
<% end %>
