<%= render(Blacklight::SearchBarComponent.new(
      **@kwargs,
      params: @params.merge(f: (@params[:f] || {}).except(:collection), group: true),
                            q: @q,
                            search_field: @search_field,
                            form_options: { data: { controller: "search-form" } })) do |c| %>

  <% c.with_before_input_group do %>
    <div class="input-group within-collection-dropdown">
      <label class="input-group-text" for="within_collection">
        <%= t('arclight.within_collection_dropdown.label_html') %>
      </label>
      <%= select_tag ('f[collection][]' if collection_name.present?), within_collection_options, id: 'within_collection', class: 'form-select search-field' %>
    </div>
  <% end %>

  <% c.with_prepend do %>
    <%= prepend %>
  <% end %>

  <% c.with_append do %>
    <%= append %>
  <% end if append? %>

  <% c.with_search_button do %>
    <%= render SearchButtonComponent.new(id: "#{@prefix}search", text: scoped_t('submit')) %>
  <% end %>
<% end %>
