<%# This file overrides AL Core for more control over the extents display %>
<header class="documentHeader row" data-document-id="<%= @document.id %>">
  <h3 class="index_title document-title-heading col">
    <%= helpers.link_to_document @document, counter: @counter %>

    <%= tag.span class: 'al-document-container text-muted ml-auto' do %>
      <%= @document.containers.join(', ') %>
    <% end if @document.containers.present? %>

    <div class="d-flex">
      <% @document.extent.each do |extent| %>
        <%= tag.span extent, class: 'al-document-extent badge mx-1' unless compact? %>
      <% end %> 
    </div>
  </h3>

  <% actions.each do |action| %>
    <%= action %>
  <% end %>
</header>